
sites=test1,test2
save_original_data=true
original_data_backend=database

test1.url=https://test1.net/
test1.directory=test1
test1.original_data_table=test1

test2.url=https://test2.net/
test2.directory=test2
test2.original_data_table=test2
