.content {
    width: 1000px;
    margin: 0 auto;
}

.pagination {
    display: inline-block;
    margin: 2em auto;
    width: 900px;
    list-style-type: none;
}

.pagination .disabled {
    background-color: rgb(68, 68, 68);
    color: rgb(223, 223, 223);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.blog_content_row {
    margin: 2em 0;
    border: 1px solid #ddd;
    padding: 1em;
}

.blog_content {
    margin: 2em 0;
    border: 1px solid #ddd;
    padding: 1em;
}